//! **************************************************************************
// Written by: Map P.20131013 on Thu Nov 14 16:47:32 2019
//! **************************************************************************

SCHEMATIC START;
COMP "VGA_R<0>" LOCATE = SITE "A3" LEVEL 1;
COMP "VGA_R<1>" LOCATE = SITE "B4" LEVEL 1;
COMP "VGA_R<2>" LOCATE = SITE "C5" LEVEL 1;
COMP "VGA_R<3>" LOCATE = SITE "A4" LEVEL 1;
COMP "clk" LOCATE = SITE "E3" LEVEL 1;
COMP "CAM_xclk" LOCATE = SITE "C17" LEVEL 1;
COMP "VGA_G<0>" LOCATE = SITE "C6" LEVEL 1;
COMP "CAM_pwdn" LOCATE = SITE "T9" LEVEL 1;
COMP "VGA_G<1>" LOCATE = SITE "A5" LEVEL 1;
COMP "VGA_G<2>" LOCATE = SITE "B6" LEVEL 1;
COMP "Href" LOCATE = SITE "G13" LEVEL 1;
COMP "VGA_G<3>" LOCATE = SITE "A6" LEVEL 1;
COMP "D<0>" LOCATE = SITE "R16" LEVEL 1;
COMP "D<1>" LOCATE = SITE "P15" LEVEL 1;
COMP "D<2>" LOCATE = SITE "K16" LEVEL 1;
COMP "D<3>" LOCATE = SITE "G14" LEVEL 1;
COMP "D<4>" LOCATE = SITE "E18" LEVEL 1;
COMP "D<5>" LOCATE = SITE "E17" LEVEL 1;
COMP "D<6>" LOCATE = SITE "D18" LEVEL 1;
COMP "Pclk" LOCATE = SITE "F14" LEVEL 1;
PIN Pclk_pin<0> = BEL "Pclk" PINNAME PAD;
PIN "Pclk_pin<0>" CLOCK_DEDICATED_ROUTE = FALSE;
COMP "D<7>" LOCATE = SITE "D17" LEVEL 1;
COMP "Vsync" LOCATE = SITE "B13" LEVEL 1;
COMP "VGA_Vsync_n" LOCATE = SITE "B12" LEVEL 1;
COMP "VGA_B<0>" LOCATE = SITE "B7" LEVEL 1;
COMP "VGA_B<1>" LOCATE = SITE "C7" LEVEL 1;
COMP "VGA_Hsync_n" LOCATE = SITE "B11" LEVEL 1;
COMP "VGA_B<2>" LOCATE = SITE "D7" LEVEL 1;
COMP "CAM_reset" LOCATE = SITE "V11" LEVEL 1;
COMP "VGA_B<3>" LOCATE = SITE "B8" LEVEL 1;
COMP "rst" LOCATE = SITE "F15" LEVEL 1;
SCHEMATIC END;

